<!DOCTYPE html>
<html lang="en"></html>

<head> 
  <!-- Bootstrap CSS Not sure -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - user_registration</title>
</head>
<body>
      <form method="POST" action="/register"> 
        <div>
      <label for="email"> Email address: </label> 
      <input type="email" placeholder="email" name="email" required>
    </div>
        <label for="password"> Password </label>
        <input type="password" placeholder="password" name="password" required>
        <button type="submit"> Register </button>
      </form>
    </div>

</body>